Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Update vue-tsc
  package.json
  pnpm-lock.yaml
Due: dprint check

Use `import type`
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VContentReport/VContentReportForm.vue
Due: eslint --fix --max-warnings=0, dprint check

Alphabetize includes in tsconfig
  tsconfig.json
Due: dprint check

Fix linting error
  src/components/VContentSwitcher/VSearchTypeButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Update audio result snapshots
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: none

Add `.toString` to fix typing error in VAudioDetails
  src/components/VAudioDetails/VRelatedAudio.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix incorrect radiomark viewbox
  src/components/VRadio/VRadio.vue
Due: eslint --fix --max-warnings=0, dprint check

Add VRelatedAudio to tsconfig.json
  tsconfig.json
Due: dprint check

Simplify shouldFetchMedia
  src/components/VHeader/VHeaderMenu.vue
Due: eslint --fix --max-warnings=0, dprint check

Improve types in VItemGroup
  src/components/VItemGroup/VItemGroup.vue
Due: eslint --fix --max-warnings=0, dprint check

Apply ARIA role 'slider' on track or waveform based on which is interactive
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
  src/composables/use-seekable.ts
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Add a note on type warnings to the README
  README.md
Due: dprint check

Add better concurrency settings for workflows
  .github/workflows/actionlint.yml
  .github/workflows/bundle_size.yml
  .github/workflows/generate_pot.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/ghcr.yml
  .github/workflows/label_new_pr.yml
  .github/workflows/rollback.yml
Due: dprint check

Fixes vcopybutton focus
  src/components/VCopyButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Try another fix
  prettier.config.cjs
Due: dprint check

Revert "Try another fix"
  prettier.config.js
Due: eslint --fix --max-warnings=0, dprint check

Try setting config file in lintstaged
  .lintstagedrc
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove extraneous `--`
  package.json
Due: dprint check

Ignore unconsistent results
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

ignore prettier formating
  .prettierignore
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Enable seeking for Jamendo tracks in blink browsers; remove message
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/composables/use-browser-detection.ts
  src/locales/en.json
  test/locales/ar.json
  test/locales/es.json
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: eslint --fix --max-warnings=0, dprint check

ignore prettier formatting
  .prettierignore
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Mentions that VSkipToContainer is ignored
  .prettierignore
Due: none

Try mocking audio response to prevent network request and latency
  test/playwright/e2e/all-results-keyboard.spec.ts
  test/playwright/e2e/resources/sample-audio-info.json
  test/playwright/e2e/resources/sample-audio.mp3
Due: eslint --fix --max-warnings=0, dprint check

Update VSkipToContentContainer.vue
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Revert "Avoid pausing audio when is loading (#1643)"
  src/components/VAudioTrack/VPlayPause.vue
Due: eslint --fix --max-warnings=0, dprint check

Apply suggestions from the code review
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VHeader/VHeaderMenu.vue
  src/components/VImageDetails/VImageDetails.vue
  src/layouts/default.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Check selectedReason is not null in handleSubmit
  src/components/VContentReport/VContentReportForm.vue
Due: eslint --fix --max-warnings=0, dprint check

Update deployment actions to fix task def registration
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Add DEPLOYMENT.md
  DEPLOYMENT.md
Due: dprint check

Remove unused composite action
  .github/actions/build/action.yml
Due: dprint check

Remove the latest tag
  .github/actions/build/action.yml
Due: dprint check

Remove PM2 from the Dockerfile
  Dockerfile
  ecosystem.config.js
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
