Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Update .pot file
  src/locales/po-files/openverse.pot
Due: none

Add change to cause failures to test new comments
  tailwind.config.js
Due: eslint --fix --max-warnings=0, dprint check

Remove nested backticks
  .github/workflows/ci.yml
Due: dprint check

Fix base promise access
  .github/workflows/ci.yml
Due: dprint check

Make storybook fail to debug faster
  src/components/VCheckbox/meta/VCheckbox.stories.mdx
Due: dprint check

Fix response object handling
  .github/workflows/ci.yml
Due: dprint check

Debug with logs
  .github/workflows/ci.yml
Due: dprint check

Try sleeping for a bit before requesting the artifacts
  .github/workflows/ci.yml
Due: dprint check

Try a different endpoint
  .github/workflows/ci.yml
Due: dprint check

Search for correct artifact
  .github/workflows/ci.yml
Due: dprint check

Remove indentation to prevent codeblock creation
  .github/workflows/ci.yml
Due: dprint check

Fix comment deletion script
  .github/workflows/ci.yml
Due: dprint check

Do not write to root directory
  .github/workflows/ci.yml
Due: dprint check

Fix bash syntax
  .github/workflows/ci.yml
Due: dprint check

Remove duplication and just point to run dashboard
  .github/workflows/ci.yml
Due: dprint check

Fix related image width
  src/layouts/default.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Add pnpm pinning to ECR image push
  .github/actions/build/action.yml
Due: dprint check

Revert changes breaking vr tests
  src/components/VCheckbox/meta/VCheckbox.stories.mdx
  tailwind.config.js
Due: eslint --fix --max-warnings=0, dprint check

Add `shell` to build action
  .github/actions/build/action.yml
Due: dprint check

Do not run bundle size check, GHCR push and GH pages preview on forks
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  .github/workflows/ghcr.yml
Due: dprint check

Run push to GH pages on forks
  .github/workflows/gh-pages.yaml
Due: dprint check

Fix formatting of list
  .github/workflows/ci.yml
Due: dprint check

init
  src/layouts/default.vue
Due: eslint --fix --max-warnings=0, dprint check

Ignore synced workflow files in Renovate
  .github/renovate.json
Due: dprint check

Update sugarshin/required-labels-action action to v0.3.2
  .github/workflows/pr_label_check.yml
Due: dprint check

Update action.yml
  .github/actions/build/action.yml
Due: dprint check

Switch popper.js to use fixed positioning strategy
  src/composables/use-popper.js
Due: eslint --fix --max-warnings=0, dprint check

Make the popover positioning strategy configurable
  src/components/VFilters/VFilterChecklist.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/composables/use-popper.js
Due: eslint --fix --max-warnings=0, dprint check

Update pot file
  src/locales/po-files/openverse.pot
Due: none

Use i18n from useI18n composable instead of Nuxt context
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VAudioThumbnail/VAudioThumbnail.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VErrorSection/VErrorImage.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VImageDetails/VImageDetails.vue
  src/components/VLicense/VLicense.vue
  src/components/VLoadMore.vue
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VMediaReuse.vue
  src/components/VSketchFabViewer.vue
  src/composables/use-get-locale-formatted-number.ts
  src/composables/use-i18n-utilities.js
  src/pages/search/audio.vue
Due: eslint --fix --max-warnings=0, dprint check

Use single `export default` instead of a named object
  src/components/VFourOhFour.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VLogoButton.vue
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSidebarContent.vue
  src/components/VImageDetails/VImageDetails.vue
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VMediaReuse.vue
  src/components/VModal/VModalContent.vue
  src/components/VSearchResultsTitle.vue
  src/pages/about.vue
  src/pages/index.vue
  src/pages/search/index.vue
Due: eslint --fix --max-warnings=0, dprint check

Use single `export default` instead of a named object
  src/components/VButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

Update POT file
  src/components/VHeader/VFilterButton.vue
  src/locales/po-files/openverse.pot
Due: eslint --fix --max-warnings=0, dprint check

Pin pnpm in renovate and engines to 6.x.x
  .github/renovate.json
  package.json
Due: dprint check

Remove need to pin pnpm version
  .github/actions/build/action.yml
  .github/renovate.json
  .github/workflows/ghcr.yml
  .pnpm-version
  Dockerfile
  Dockerfile.playwright
  README.md
  bin/playwright.sh
  docker-compose.playwright.yml
  package.json
  pnpm-lock.yaml
Due: dprint check

Put external sources behind feature flag
  feat/feature-flags.json
  src/components/VContentSwitcher/VSearchTypes.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/preferences.vue
  src/stores/feature-flag.ts
  test/unit/specs/stores/feature-flag-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Move flag check into store to share it around
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/composables/use-search-type.ts
Due: eslint --fix --max-warnings=0, dprint check

Update search store to support additional media types
  src/composables/use-search-type.ts
  src/constants/media.ts
  src/stores/media/index.ts
  src/stores/search.ts
Due: eslint --fix --max-warnings=0, dprint check
