Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Update snapshots of the sources page
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

Ensure that the attribution box is always visible
  src/components/VMediaInfo/VMediaReuse.vue
Due: eslint --fix --max-warnings=0, dprint check

Update Playwright snapshots for PR #1644
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-xs-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

Fix the visual regression test failures
  src/components/VContentPage.vue
  src/pages/extension.vue
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Move the separate sources test to pages test
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

changing from h tag to p tag
  src/components/VMetaSearch/VMetaSearchForm.vue
Due: eslint --fix --max-warnings=0, dprint check

Addressing styling issues with search results
  src/components/VMetaSearch/VMetaSearchForm.vue
Due: eslint --fix --max-warnings=0, dprint check

changed headers to sequential order
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VMediaInfo/VMediaReuse.vue
Due: eslint --fix --max-warnings=0, dprint check

changed headers to be in sequential order
  test/unit/specs/components/related-audios.spec.js
Due: eslint --fix --max-warnings=0, dprint check

changed headers to a sequential order
  src/components/VMediaInfo/VMediaReuse.vue
Due: eslint --fix --max-warnings=0, dprint check

changed header sequential order h1-h3
  src/components/VMediaInfo/VMediaReuse.vue
Due: eslint --fix --max-warnings=0, dprint check

changed test to reflect header change
  test/unit/specs/components/related-audios.spec.js
Due: eslint --fix --max-warnings=0, dprint check

changed headers to be in sequential order.
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VMediaLicense.vue
  src/components/VMediaInfo/VMediaReuse.vue
Due: eslint --fix --max-warnings=0, dprint check

Change the header level in Playwright tests
  test/playwright/visual-regression/components/media-reuse.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update src/utils/reakit-utils/README.md
  src/utils/reakit-utils/README.md
Due: dprint check

Revert "Update deployment actions to fix task definition registration (#1679)"
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Fix typo in task-definition.json filename
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Remove ie11 hacks
  src/composables/use-focus-on-blur.js
  src/utils/reakit-utils/dom.ts
  src/utils/reakit-utils/focus.ts
  src/utils/reakit-utils/get-next-active-element-on-blur.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix sed usage
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Changed h tag in image page
  src/components/VImageDetails/VImageDetails.vue
  src/components/VImageDetails/VRelatedImages.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove export from csstype
  typings/csstype/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

delete translations, page, nagibation link
  src/composables/use-pages.ts
  src/locales/en.json
  src/pages/extension.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Remove image assets
  src/assets/screenshots/extension_feat_1.png
  src/assets/screenshots/extension_feat_2.png
  src/assets/screenshots/extension_feat_3.png
  src/assets/screenshots/extension_hero_vid.mp4
Due: none

delete extension visual regression tests
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-xs-linux.png
Due: none

Remove "extension" page from pages visual regression spec
  test/playwright/visual-regression/pages/pages.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Delete ExtensionBrowsers component
  src/components/ExtensionBrowsers.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix unfortunate, unrelated lint errors
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Update Audio's action button text
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/locales/en.json
Due: eslint --fix --max-warnings=0, dprint check

Fix the `v-full-layout.spec.js` unit test
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
