Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Use `isFilterSidebarVisible` prop in `VScrollButton`
  src/components/VScrollButton.vue
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix mobile homepage jumping
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
  src/components/VInputField/VInputField.vue
  src/pages/index.vue
Due: eslint --fix --max-warnings=0, dprint check

Update snapshots
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/unfocused-search-ltr-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/unfocused-search-ltr-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/unfocused-search-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/unfocused-search-rtl-xs-linux.png
Due: none

Include search bar label in translations
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix --max-warnings=0, dprint check

Update the .pot file
  src/locales/po-files/openverse.pot
Due: none

TS-ify use-load-more and use TS and defineComponent in layouts and pages
  src/composables/use-load-more.js
  src/composables/use-load-more.ts
  src/composables/use-media-query.ts
  src/layouts/error.vue
  src/pages/about.vue
  src/pages/index.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
Due: eslint --fix --max-warnings=0, dprint check

Add missing tapes
  test/tapes/search_audio_q=honey_keep-alive.json5
  test/tapes/search_images_q=honey_keep-alive.json5
Due: none

Redirect search pages to home when no search query is present
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/pages/search.vue
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Add condition for creator searches
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Add comment
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Add query + extract path for translation banner tests
  test/playwright/e2e/translation-banner.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix waveform misalignment for short audios
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove extension from title if it's the same as filetype
  src/components/VErrorSection/VErrorImage.vue
  src/models/media.ts
  src/utils/attribution-html.ts
  src/utils/decode-media-data.ts
  test/unit/specs/utils/attribution-html.spec.ts
  test/unit/specs/utils/decode-image-data.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

Apply suggestions from code review
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
Due: eslint --fix --max-warnings=0, dprint check

Update the GH actions versions to match openverse repo
  .github/actions/setup-node-env/action.yml
  .github/workflows-disabled/sentry-release.yml
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/ghcr.yml
  .github/workflows/push_production.yaml
  .github/workflows/push_staging.yaml
Due: dprint check

Add tailwind black text color
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

prevent padding to drop to 0 on large screen on audio detail view
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/pages/audio/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/pages/audio/_id.vue
  src/pages/audio/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VAudioTrack/layouts/VGlobalLayout.vue
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix the self-hosted config and secret for renovate cron
  .github/renovate.json
  .github/workflows/renovate.yml
Due: dprint check

Try fix renovate secrets
  .github/workflows/renovate.yml
Due: dprint check

Add a fallback for broken provider image
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VImageGrid/VImageCell.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Add frontend redeploy task-def action
  .github/actions/frontend-deploy/action.yml
  .github/workflows/frontend_deploy.yml
Due: dprint check

Use tag_name
  .github/workflows/frontend_deploy.yml
Due: dprint check

Fix types and remove unused navigation method
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VImageGrid/VImageCell.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Add image load error handling
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Add image load error handling
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
  test/unit/specs/components/AudioTrack/waveform.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Checkout before trying deploy
  .github/workflows/frontend_deploy.yml
Due: dprint check

Make scroll test less flaky
  test/playwright/e2e/search.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Try fixing things that might confuse deps dashboard finding
  .github/renovate.json
Due: dprint check

Update Node.js to v16.15.1
  package.json
  pnpm-lock.yaml
Due: dprint check

Update actions/cache action to v3
  .github/actions/setup-node-env/action.yml
Due: dprint check

Update actions/checkout action to v3
  .github/workflows/bundle_size.yml
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/ghcr.yml
  .github/workflows/push_production.yaml
  .github/workflows/push_staging.yaml
Due: dprint check

Update actions/setup-node action to v3
  .github/actions/setup-node-env/action.yml
Due: dprint check

Update docker/build-push-action action to v3
  .github/actions/build/action.yml
  .github/workflows/ghcr.yml
Due: dprint check
