Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Update docker/login-action action to v2
  .github/workflows/ghcr.yml
Due: dprint check

Update docker/metadata-action action to v4
  .github/actions/build/action.yml
  .github/workflows/ghcr.yml
Due: dprint check

Update docker/setup-buildx-action action to v2
  .github/actions/build/action.yml
  .github/workflows/ghcr.yml
Due: dprint check

Limit renovate to prevent eating up our GH actions
  .github/renovate.json
Due: dprint check

Reduce the number of changes
  test/tapes/detail/images/cfa45160-a7be-4911-9b9f-4e66678ec7f7_keep-alive.json5
  test/tapes/detail/images/ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/tapes/related/images/e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/thumb/audio/322aed67-20de-44aa-a992-50762cedf220_keep-alive.json5
  test/tapes/thumb/audio/401e1f60-4081-490b-bbb8-75c8e950668b_keep-alive.json5
  test/tapes/thumb/audio/5010733e-fac8-4c7b-b83c-3b15351454a6_keep-alive.json5
Due: none

Reduce the number of changes
  test/playwright/e2e/search-types.spec.ts
  test/tapes/response-1.json5
  test/tapes/response-2.json5
  test/tapes/search/audio/q=honey_keep-alive.json5
  test/tapes/search/images/q=honey_keep-alive.json5
Due: eslint --fix --max-warnings=0, dprint check

Add ms for audios shorter than 5 seconds
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Update .pot file
  src/locales/po-files/openverse.pot
Due: none

Update waveform snapshots
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
Due: none

Only show milliseconds for audio that are shorter than 1 second
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Add e2e tests
  test/playwright/e2e/redirect-queryless-searches.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update test/playwright/e2e/redirect-queryless-searches.spec.ts
  test/playwright/e2e/redirect-queryless-searches.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update renovatebot/github-action action to v32.80.1
  .github/workflows/renovate.yml
Due: dprint check

Remove secrets and fix shell step
  .github/actions/frontend-deploy/action.yml
  .github/workflows/frontend_deploy.yml
Due: dprint check

Add testing code
  .github/workflows/frontend_deploy.yml
Due: dprint check

Remove testing code
  .github/workflows/frontend_deploy.yml
Due: dprint check

Add documentation about e2e test locations
  README.md
  test/playwright/README.md
Due: dprint check

Update pnpm to v7.2.1
  package.json
  pnpm-lock.yaml
Due: dprint check

Set the standalone search bar height in the SearchBar component
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/pages/index.vue
  test/playwright/visual-regression/pages.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update the .pot file
  src/locales/po-files/openverse.pot
Due: none

Make search.vue media fetching non-blocking
  src/components/VHeader/VHeader.vue
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Add missing snapshots
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-ltr-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-ltr-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-ltr-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-ltr-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-ltr-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-ltr-xs-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-rtl-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-rtl-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-rtl-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-rtl-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-rtl-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/non-existent-rtl-xs-linux.png
Due: none

Use number for prCommitsPerRunLimit value
  .github/renovate.json
Due: dprint check

Make fetching related images on the client non-blocking
  src/components/VImageDetails/VRelatedImages.vue
  src/stores/media/single-result.ts
Due: eslint --fix --max-warnings=0, dprint check

Use TS and defineComponent in the ContentSwitcher and Header
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VContentSwitcher/VSearchTypeItem.vue
  src/components/VContentSwitcher/VSearchTypeRadio.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VHeader/VHeaderMenu.vue
  src/components/VHeader/VPageMenu/VDesktopPageMenu.vue
  src/components/VHeader/VPageMenu/VMobilePageMenu.vue
  src/components/VHeader/VPageMenu/VPageList.vue
  src/components/VHeader/VPageMenu/VPageMenuButton.vue
  src/components/VHeader/VSearchBar/VSearchButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Add error handling to SSR
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
Due: eslint --fix --max-warnings=0, dprint check

Clean up the `fetch` hook
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Update the pot file
  src/locales/po-files/openverse.pot
Due: none

Fix audio results shift when loading more
  src/stores/media/index.ts
  test/unit/specs/stores/media-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update the visual-regression snapshots
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: none

Improve documentation
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Add loading indication for audio
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VIconButton/VIconButton.vue
  src/constants/audio.ts
Due: eslint --fix --max-warnings=0, dprint check

Add loading label string
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: dprint check

Fix tsconfig glob
  tsconfig.json
Due: dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
