Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Test fail condition
  .github/workflows/rollback.yml
Due: dprint check

Update POT file
  openverse.pot
Due: none

🔄 Synced local '.github/ISSUE_TEMPLATE/' with remote '.github/ISSUE_TEMPLATE/'
  .github/ISSUE_TEMPLATE/sentry_bug.md
Due: dprint check

Add user agent and trailing slash
  src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-translations.js
Due: eslint --fix --max-warnings=0, dprint check

Download locales only once per workflow
  .github/actions/setup-node-env/action.yml
  .github/workflows/ci.yml
Due: dprint check

Update src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/create-wp-locale-list.js
Due: eslint --fix --max-warnings=0, dprint check

Update src/locales/scripts/get-translations.js
  src/locales/scripts/get-translations.js
Due: eslint --fix --max-warnings=0, dprint check

Update src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-translations-status.js
Due: eslint --fix --max-warnings=0, dprint check

Extract network-service from locale scripts
  src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-translations.js
  src/locales/scripts/network-service.js
Due: eslint --fix --max-warnings=0, dprint check

Try enabling use of force_orphan
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
Due: dprint check

Fix preview urls
  .github/workflows/ci.yml
Due: dprint check

Enable post-action cleaning
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
Due: dprint check

Update src/locales/scripts/network-service.js
  src/locales/scripts/network-service.js
Due: eslint --fix --max-warnings=0, dprint check

Always do final checkout for cleaning
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
Due: dprint check

Simplify axios module
  src/locales/scripts/axios.js
  src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-translations.js
  src/locales/scripts/network-service.js
Due: eslint --fix --max-warnings=0, dprint check

Do not remove the working directory
  .github/workflows/ci.yml
Due: dprint check

Fix import
  src/locales/scripts/create-wp-locale-list.js
Due: eslint --fix --max-warnings=0, dprint check

Fix copy command and do not copy dependencies
  .github/workflows/ci.yml
Due: dprint check

Try speeding up the action by removing node setup step
  .github/workflows/ci.yml
Due: dprint check

Revert "Try speeding up the action by removing node setup step"
  .github/workflows/ci.yml
Due: dprint check

Fix preview clean path and testing code
  .github/workflows/gh-pages.yaml
  .github/workflows/pr_closed.yml
Due: dprint check

Fix actionlint errors
  .github/workflows/pr_closed.yml
Due: dprint check

Added `prettier-plugin-tailwindcss` (#1477)
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: eslint --fix --max-warnings=0, dprint check

Try fixing preview moving
  .github/workflows/ci.yml
Due: dprint check

Use saved locale files required for CI from test/locales
  .github/actions/setup-node-env/action.yml
  .github/workflows/ci.yml
  test/locales/ar.json
  test/locales/valid-locales.json
Due: dprint check

Add -r flag to copy folder
  .github/actions/setup-node-env/action.yml
  test/locales/scripts/valid-locales.json
Due: dprint check

Leave only one locale that has translations saved in valid-locales.json
  test/locales/scripts/valid-locales.json
Due: dprint check

Add "es" locale as an example of LTR translated locale
  test/locales/es.json
  test/locales/scripts/valid-locales.json
Due: dprint check

Add sm and xs snapshots for RTL scrolled header
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xs-linux.png
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
