Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Rephrase "Related issues"
  .github/ISSUE_TEMPLATE/design_changes.md
Due: dprint check

Update POT file
  openverse.pot
Due: none

Update Vue to version 2.7
  .eslintrc.js
  package.json
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VErrorSection/VErrorImage.vue
  src/composables/use-focus-on-show.js
  src/stores/feature-flag.ts
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
  src/stores/provider.ts
  src/stores/search.ts
  test/playwright/utils/breakpoints.ts
  tsconfig.json
  typings/csstype/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

Update Vue to 2.7.10 and fix playwright
  package.json
  pnpm-lock.yaml
  test/playwright/playwright.config.ts
  typings/csstype/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

Import nextTick from @nuxtjs/composition-api
  src/composables/use-focus-on-show.js
Due: eslint --fix --max-warnings=0, dprint check

Revert TS-appeasing changes to Pinia stores
  src/stores/feature-flag.ts
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
  src/stores/provider.ts
  src/stores/search.ts
Due: eslint --fix --max-warnings=0, dprint check

Add the lock file
  pnpm-lock.yaml
Due: dprint check

Revert un-pinnint Playwright
  package.json
  test/playwright/playwright.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Wait for 'load' event, not the 'domcontentloaded'
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Replace `netwrokidle` with `domcontentloaded`
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update vue-demi
  package.json
  pnpm-lock.yaml
Due: dprint check

Replace use-fetch-state with simpler implementation
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VImageDetails/VRelatedImages.vue
  src/components/VImageGrid/VImageGrid.vue
  src/components/VLoadMore.vue
  src/components/VSearchGrid.vue
  src/composables/use-fetch-state.ts
  src/models/fetch-state.ts
  src/pages/search/search-page.types.ts
  src/stores/media/index.ts
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
  src/stores/provider.ts
  test/unit/specs/composables/use-fetch-state.spec.ts
  test/unit/specs/stores/media-store.spec.js
  test/unit/specs/stores/provider.spec.js
  test/unit/specs/stores/single-result-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Clean up
  src/stores/media/index.ts
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
Due: eslint --fix --max-warnings=0, dprint check

Switch from promise chain to async/await; switch default value to 20
  src/server-middleware/healthcheck.js
Due: eslint --fix --max-warnings=0, dprint check

add comment about env variable
  .env.template
Due: none

Render filters sidebar clientside only
  src/components/VHeader/VHeaderFilter.vue
Due: eslint --fix --max-warnings=0, dprint check

Add hotfix comment
  src/components/VHeader/VHeaderFilter.vue
Due: eslint --fix --max-warnings=0, dprint check

Stop Global Audio player from playing loose audio
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: eslint --fix --max-warnings=0, dprint check

Add base e2e test for global audio
  test/playwright/e2e/global-audio.spec.ts
  test/tapes/related/audio/b502f915-adce-406b-ad87-9b17250331dd_keep-alive.json5
Due: eslint --fix --max-warnings=0, dprint check

Simplify Filters to fix the SSR problem
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VSidebarContent.vue
  src/composables/use-filter-sidebar-visibility.ts
Due: eslint --fix --max-warnings=0, dprint check

Make sure Playwright copies saved locales when running in Docker locally
  package.json
  test/playwright/playwright.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Copy Pw saved locales when running in Docker locally
  package.json
Due: dprint check

Re-fetch single item if it was taken from search results or related media
  src/stores/media/index.ts
  src/stores/media/single-result.ts
Due: eslint --fix --max-warnings=0, dprint check

Add tests
  test/playwright/e2e/audio-detail.spec.ts
  test/playwright/e2e/report-media.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Add missing tapes and fix audio test
  test/playwright/e2e/audio-detail.spec.ts
  test/tapes/detail/audio/7e063ee6-343f-48e4-a4a5-f436393730f6_close.json5
  test/tapes/detail/images/da5cb478-c093-4d62-b721-cda18797e3fb_keep-alive.json5
  test/tapes/related/audio/7e063ee6-343f-48e4-a4a5-f436393730f6_close.json5
  test/tapes/response-495.json5
Due: eslint --fix --max-warnings=0, dprint check

Add missing tapes
  test/tapes/detail/audio/2e38ac1e-830c-4e9c-b13d-2c9a1ad53f95_keep-alive.json5
  test/tapes/detail/audio/2ecd5631-c48c-4a5f-89c4-83c44dbbd365_keep-alive.json5
  test/tapes/detail/audio/632d0076-fdbd-4919-8b8f-b498ef246ee8_keep-alive.json5
  test/tapes/detail/images/f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  test/tapes/detail/images/feb91b13-422d-46fa-8ef4-cbf1e6ddee9b_keep-alive.json5
  test/tapes/search/audio/q=honey_keep-alive.json5
  test/tapes/search/images/q=honey_keep-alive.json5
Due: none

Silence talkback proxy
  test/proxy.js
Due: eslint --fix --max-warnings=0, dprint check

Add failing test
  test/unit/specs/components/v-modal.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Close VModal on escape; turn the test on
  src/components/VModal/VModalContent.vue
  test/unit/specs/components/v-modal.spec.js
Due: eslint --fix --max-warnings=0, dprint check

axios error unit test
  test/unit/specs/stores/media-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Default to open the filters on desktop
  src/components/VHeader/VHeaderFilter.vue
Due: eslint --fix --max-warnings=0, dprint check

Store snackbar state in a Pinia store
  src/pages/search/audio.vue
  src/stores/ui.ts
Due: eslint --fix --max-warnings=0, dprint check

Dismiss the snackbar for mouse-based interactions
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Update the snapshots
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-rtl-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-xl-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Update the snapshots and closeFilters function
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-closed-rtl-xl-linux.png
Due: eslint --fix --max-warnings=0, dprint check
