Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Update about page snpashots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
Due: none

Use regex for extension matching
  src/utils/decode-media-data.ts
Due: eslint --fix --max-warnings=0, dprint check

Use `defineComponent`, add prop types and emit types
  src/components/VAllResultsGrid/VAudioCell.vue
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VErrorSection/VErrorImage.vue
  src/components/VFilters/VLicenseExplanation.vue
  src/components/VImageDetails/VImageDetails.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VLicense/VLicense.vue
  src/components/VLicense/VLicenseElements.vue
  src/components/VLogoLoader/VLogoLoader.vue
  src/components/VMediaTag/VMediaTag.vue
  src/components/VSkeleton/VAudioTrackSkeleton.vue
  src/components/VSkeleton/VBone.vue
  src/components/VSkeleton/VGridSkeleton.vue
  src/components/VSketchFabViewer.vue
Due: eslint --fix --max-warnings=0, dprint check

Update the pot file
  src/locales/po-files/openverse.pot
Due: none

Add more files to tsconfig
  src/components/VAllResultsGrid/VAudioCell.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VFilters/VLicenseExplanation.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VLogoLoader/VLogoLoader.types.js
  src/components/VLogoLoader/VLogoLoader.vue
  src/components/VSkeleton/VGridSkeleton.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Move loaded state into the audio object itself
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/models/media.ts
  src/stores/loaded-audio.ts
  src/stores/media/index.ts
  test/unit/specs/stores/loaded-audio-store.spec.js
  test/unit/specs/stores/media-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Remove unnecessary status confirmations
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Share audio loaded state through pinia
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/stores/loaded-audio.ts
  test/unit/specs/stores/loaded-audio-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Fix scripts passing flags to other scripts
  package.json
Due: dprint check

Update POT
  src/locales/po-files/openverse.pot
Due: none

Get media items safely
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Add suggestions from code review
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/media-reuse.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/sources.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Add more utils from https://github.com/WordPress/openverse-frontend/pull/1542
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Try fixing the sm header snapshot
  test/playwright/visual-regression/components/header.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Add `v-audio-details.spec.js` test
  test/unit/specs/components/VAudioDetails/v-audio-details.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Use correct field for album title
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

Update the POT file
  src/locales/po-files/openverse.pot
Due: none

Add a fallback for broken provider image
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VImageGrid/VImageCell.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Extract `dir` language directions
  src/locales/po-files/openverse.pot
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix types and remove unused navigation method
  src/components/VAllResultsGrid/VImageCellSquare.vue
  src/components/VImageGrid/VImageCell.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Make scroll test less flaky
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Add image load error handling
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove duplicates after merge
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

Revert changes to playwright config
  test/playwright/playwright.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Revert changes to the snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
Due: none

Remove changes that cannot be added to tsconfig
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VImageDetails/VImageDetails.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VSketchFabViewer.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Add AudioSet interface
  src/models/media.ts
Due: eslint --fix --max-warnings=0, dprint check

Add test case for when there is no audio_set
  test/unit/specs/components/VAudioDetails/v-audio-details.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Prevent hiding and reappearing of 'Load more' button and meta search
  src/components/VLoadMore.vue
  src/components/VSearchGrid.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VLogoLoader/VLogoLoader.vue
  src/components/VLogoLoader/VLogoLoader.vue
Due: eslint --fix --max-warnings=0, dprint check

Add audio duration filter clarifications as strings
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: dprint check

Add a space before the bracket
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: dprint check

Add workflow to update POT file in translations branch
  .github/workflows/generate_pot.yml
Due: dprint check

Remove POT file from main repository and ignore it
  .gitignore
  src/locales/po-files/openverse.pot
Due: none

Always write POT file
  src/locales/scripts/json-to-pot.js
Due: eslint --fix --max-warnings=0, dprint check

Remove pre-commit pot file generation
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
