Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Improve the scrolling for testing the header 'scrolled' state
  .github/actions/setup-node-env/action.yml
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Add "ru" locale for the example of low translation percentage
  test/locales/ru.json
  test/locales/scripts/valid-locales.json
Due: dprint check

Try fixing the i18n:check script
  package.json
  pnpm-lock.yaml
  src/pages/search-help.vue
  src/plugins/vue-i18n.ts
Due: eslint --fix --max-warnings=0, dprint check

Use locale json for Playwright text selectors
  test/playwright/e2e/report-media.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Refactor playwright i18n t function
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Set Arabic translated percentage to 100
  test/locales/scripts/valid-locales.json
Due: dprint check

Update Playwright tests
  test/playwright/e2e/report-media.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/media-reuse.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Fix incorrect ar locale keys
  test/locales/ar.json
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/extension-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/meta-search-rtl-sm-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Add TS to useWindowScroll
  src/composables/use-window-scroll.ts
  test/unit/.eslintrc.js
  test/unit/specs/composables/use-window-scroll.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Prevent waveform click events from bubbling up
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Add test/locales README.md
  test/locales/README.md
Due: dprint check

Allow layouts to control whether the waveform can be tab-accessible
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix seeking to work with arrow keys
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Scope focus outlines and seek indicator to the waveform group
  package.json
  pnpm-lock.yaml
  src/components/VAudioTrack/VWaveform.vue
  tailwind.config.js
Due: eslint --fix --max-warnings=0, dprint check

Use focus-visible instead of focus mode to show outline
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove separate handler for 'Space' included in `useSeekable` composable
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Reduce thickness of focus outline
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Update failing tests to pass
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/AudioTrack/waveform.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update slackapi/slack-github-action action to v1.21.0
  .github/actions/production-frontend-deploy/action.yml
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Reuse `timeFmt` from utils
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Update `timeFmt` to support durations longer than 24h
  src/utils/time-fmt.ts
  test/unit/specs/utils/time-fmt.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Delete unused computed property
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Make waveform unreachable by Tab in box and full layouts
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Update test/playwright/utils/navigation.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Update actions/setup-node action to v3.4.1
  .github/actions/setup-node-env/action.yml
Due: dprint check

Load locales in pre-commit if necessary
  .husky/pre-commit
Due: none

Fix width of license explanation popover on search filter
  src/components/VPopover/VPopoverContent.vue
Due: eslint --fix --max-warnings=0, dprint check

Add extra packages to build docker image on macOS
  Dockerfile
Due: none

Multi-stage building
  Dockerfile
Due: none

Incorrect text styles in metadata information issue number: #1587
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

changed-text-size-only
  src/components/VErrorSection/VNoResults.vue
Due: eslint --fix --max-warnings=0, dprint check

Update renovatebot/github-action action to v32.141.0
  .github/workflows/renovate.yml
Due: dprint check

Added ar.json to gitignore whitelist to test rtl
  .gitignore
  src/locales/ar.json
Due: dprint check

change header text sizes with suggestions
  src/components/VErrorSection/VNoResults.vue
Due: eslint --fix --max-warnings=0, dprint check
