Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Fix ENOENT issue due to nonexistent directory
  .github/workflows/generate_pot.yml
  .gitignore
  src/locales/scripts/json-to-pot.js
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Stop checking PO generation in CI
  .github/workflows/ci.yml
Due: dprint check

Ignore package.json from renovate
  .github/renovate.json
Due: dprint check

Update src/locales/en.json
  src/locales/en.json
Due: dprint check

Checkout using checkout action
  .github/workflows/generate_pot.yml
Due: dprint check

Remove workflow testing code
  .github/workflows/generate_pot.yml
Due: dprint check

Re-checkout main branch
  .github/workflows/generate_pot.yml
Due: dprint check

WIP - grouped audio interactions
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/composables/use-seekable.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/utils/time-fmt.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Add suggestions from code review
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: dprint check

Update pnpm/action-setup action to v2.2.2
  .github/actions/setup-node-env/action.yml
Due: dprint check

Update Node.js to v18
  Dockerfile
Due: none

Revert 'Update about page snpashots'
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-xs-linux.png
Due: none

Use a more specific selector in assertCheckboxStatus (optional)
  test/playwright/e2e/filters.spec.ts
  test/playwright/e2e/search-query-server.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Use image id for key to prevent weird reordering when toggling filters
  src/components/VImageGrid/VImageGrid.vue
Due: eslint --fix --max-warnings=0, dprint check

Update frontend staging deployment
  .github/actions/staging-frontend-deploy/action.yml
  .github/workflows/frontend_deploy.yml
Due: dprint check

Fix secret name
  .github/workflows/frontend_deploy.yml
Due: dprint check

Update name and fix reference
  .github/workflows/staging_frontend_deploy.yml
Due: dprint check

Add failure notification
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Use template task def strategy
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Use updated webhook message action
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Add missing text payload attribute
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Try fixing missing blocks in messages
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Fix missing context
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Update renovatebot/github-action action to v32.107.0
  .github/workflows/renovate.yml
Due: dprint check

Remove testing code
  .github/workflows/staging_frontend_deploy.yml
Due: dprint check

Remove header from messages
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check
