Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Use more specific name
  src/stores/feature-flag.ts
Due: eslint --fix --max-warnings=0, dprint check

Correct handling of search type in stores
  src/constants/media.ts
  src/stores/search.ts
  src/utils/search-query-transform.ts
Due: eslint --fix --max-warnings=0, dprint check

Add continue-on-error to prevent stat fail
  .github/workflows/ci.yml
Due: dprint check

Refactor search page to use `asyncData` hook instead of `fetch`
  src/pages/search.vue
Due: eslint --fix --max-warnings=0, dprint check

Add `searchTypeIsSupported` getter to search store
  src/stores/search.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove extra media fetching from index page
  src/pages/index.vue
Due: eslint --fix --max-warnings=0, dprint check

Skip `playwright-test-failure-comment` job if dependents failed
  .github/workflows/ci.yml
Due: dprint check

Remove pnpm version pin in node env workflow and fix cache
  .github/actions/setup-node-env/action.yml
Due: dprint check

Specify packageManager in package.json
  package.json
Due: dprint check

Upgrade action to support packageManager property
  .github/actions/setup-node-env/action.yml
Due: dprint check

Manually set initially selected tab panel id
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/models/tabs.ts
  src/pages/feedback.vue
Due: eslint --fix --max-warnings=0, dprint check

Add dependency on `build` in `nuxt-playwright` job
  .github/workflows/ci.yml
Due: dprint check

Remove unnecessary checking steps in `playwright-test-failure-comment` job
  .github/workflows/ci.yml
Due: dprint check

Prevent from commenting playwright instructions on `main` branch
  .github/workflows/ci.yml
Due: dprint check

Skip previews of Storybook and Tailwind in `main` branch
  .github/workflows/ci.yml
Due: dprint check

Update Node.js to v16.15.0
  package.json
  pnpm-lock.yaml
Due: dprint check

Fix pnpm-lock.yaml TS resolution
  pnpm-lock.yaml
Due: dprint check

Convert `duration` query parameter to `length` to match API
  src/constants/filters.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/models/media.ts
  src/utils/search-query-transform.ts
Due: eslint --fix --max-warnings=0, dprint check

Add new dependencies
  package.json
  pnpm-lock.yaml
Due: dprint check

Add metrics middleware
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Adjust unit tests
  test/unit/specs/stores/search-store.spec.js
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Add a missing tape
  test/tapes/related_audio_632d0076-fdbd-4919-8b8f-b498ef246ee8_keep-alive.json5
Due: none

Add 1 filter to expected audio filters
  test/playwright/e2e/filters.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Use the `route.meta` parameter to pass the path to search page
  src/composables/use-match-routes.ts
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  typings/vue-router/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

Add 'semi-support' for video
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VSearchGrid.vue
  src/composables/use-search-type.js
  src/stores/media/index.ts
  src/stores/search.ts
  src/utils/search-query-transform.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix MetaSearch form type (default to `image` for All Content)
  src/components/VErrorSection/VNoResults.vue
  src/components/VSearchGrid.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/stores/search.ts
  src/stores/search.ts
Due: eslint --fix --max-warnings=0, dprint check

Make model-3d and video additional types
  feat/feature-flags.json
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VContentSwitcher/VSearchTypes.vue
  src/components/VHeader/VHeader.vue
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/components/VMetaSearch/meta/VMetaSourceList.stories.mdx
  src/composables/use-search-type.ts
  src/constants/media.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/preferences.vue
  src/pages/search/model-3d.vue
  src/stores/feature-flag.ts
  src/stores/media/index.ts
  src/stores/search.ts
  src/utils/get-additional-sources.ts
  src/utils/search-query-transform.ts
  test/unit/specs/stores/feature-flag-store.spec.js
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

Fix license url
  src/components/VMediaInfo/VMediaReuse.vue
Due: eslint --fix --max-warnings=0, dprint check

Correctly type search type
  src/composables/use-search-type.ts
Due: eslint --fix --max-warnings=0, dprint check

Update the POT file
  src/locales/po-files/openverse.pot
Due: none

Make match routes accept all search types
  src/composables/use-match-routes.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix VSearchTypeButton label for model-3d
  src/components/VContentSwitcher/VSearchTypeButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Use constants for model-3d
  src/utils/get-additional-sources.ts
Due: eslint --fix --max-warnings=0, dprint check

Add OG image for audio detail page
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  src/utils/og.ts
Due: eslint --fix --max-warnings=0, dprint check

Tag images built for main with main
  .github/workflows/ghcr.yml
Due: dprint check
