Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Add role of alert to the VSnackbar
  src/components/VSnackbar.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Remove the comment in `.prettierignore`
  .prettierignore
Due: none

Make the homepage search input border transparent
  src/components/VHeader/VSearchBar/VSearchBar.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix failing unit tests
  src/components/VHeader/VSearchBar/VSearchBar.vue
  test/unit/specs/components/VHeader/SearchBar/search-bar.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Revert changes to snapshots that did not change
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
Due: none

commit
  src/components/VContentSwitcher/VSearchTypeButton.vue
Due: eslint --fix --max-warnings=0, dprint check

revert linting fixes
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Add fixed snapshots with square search buttons
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
Due: none

Lint fix
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Add missing snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: none

Revert commits of unchanged snapshots
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
Due: none

Update throttle-debounce package; add types; remove unused module
  package.json
  pnpm-lock.yaml
  src/composables/use-scroll.js
Due: eslint --fix --max-warnings=0, dprint check

Revert "Revert commits of unchanged snapshots"
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
Due: none

Use the specific tag for staging deployments
  .github/workflows/ghcr.yml
Due: dprint check

Returns all the error
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Sentry Clarify Error
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Fixes CopyButton Focus
  src/components/VCopyButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Audio Style Fixed
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

Doc improvement
  README.md
Due: dprint check

Update pinia and @pinia/nuxt
  package.json
  pnpm-lock.yaml
Due: dprint check

Add tapes
  test/tapes/detail/audio/632d0076-fdbd-4919-8b8f-b498ef246ee8_close.json5
  test/tapes/related/audio/632d0076-fdbd-4919-8b8f-b498ef246ee8_close.json5
  test/tapes/search_audio_q=honey_keep-alive.json5
  test/tapes/search_images_q=honey_keep-alive.json5
Due: none

Change pinia/testing version
  package.json
  pnpm-lock.yaml
Due: dprint check

🔄 Synced local '.github/workflows/label_new_pr.yml' with remote '.github/workflows/label_new_pr.yml'
  .github/workflows/label_new_pr.yml
Due: dprint check

🔄 Synced local '.github/workflows/actionlint.yml' with remote '.github/workflows/actionlint.yml'
  .github/workflows/actionlint.yml
Due: dprint check

Exception Handling Audio
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
Due: eslint --fix --max-warnings=0, dprint check

Use vue-portal for VTeleport
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VSidebarContent.vue
  src/components/VModal/VModalContent.vue
  src/components/VModal/VModalTarget.vue
  src/components/VModal/VSidebarTarget.vue
  src/components/VSkipToContentContainer.vue
  src/components/VTeleport/README.md
  src/components/VTeleport/VTeleport.vue
  src/components/VTeleport/VTeleportTarget.vue
  src/components/VTeleport/meta/targets.js
  src/layouts/default.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix dockerfile typo
  Dockerfile
Due: none

Update copy text of audio and image buttons
  src/locales/en.json
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Fix button styles
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Update README.md
  README.md
Due: dprint check

Removes duplication
  README.md
Due: dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
