Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Rename _size to layoutSize to remove underscore
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Ignore local only errors that do not matter
  src/utils/sentry-config.ts
Due: eslint --fix --max-warnings=0, dprint check

Update VAudioDetails.vue
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Undo fixed custom width in`VPopoverContent.vue`
  src/components/VPopover/VPopoverContent.vue
Due: eslint --fix --max-warnings=0, dprint check

Check paginated versions
  .github/workflows/rollback.yml
Due: dprint check

Fix loop condition
  .github/workflows/rollback.yml
Due: dprint check

Update src/components/VErrorSection/VNoResults.vue
  src/components/VErrorSection/VNoResults.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix tailwind class order linting falure in VNoResults component
  src/components/VErrorSection/VNoResults.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VAudioDetails/VAudioDetails.vue
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

Fixes missing ar.json file.
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Heading Order & Formating Fixed
  src/components/VSkipToContentContainer.vue
  src/pages/extension.vue
  src/pages/sources.vue
Due: eslint --fix --max-warnings=0, dprint check

Update test/playwright/utils/navigation.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Provide event handler to handle blur events
  src/composables/use-seekable.ts
Due: eslint --fix --max-warnings=0, dprint check

Handle nested use of `useSeekable` in waveform
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove use of `.exact` to re-enable Shift & Meta modifiers
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Only underline the track title on hover
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix invalid usage of `computed` variable
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Make the row layout match the mockups
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/pages/search/audio.vue
Due: eslint --fix --max-warnings=0, dprint check

fixed play pause error
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Vendor in Reakit functions
  package.json
  pnpm-lock.yaml
  src/components/VItemGroup/VItemGroup.vue
  src/components/VSkipToContentContainer.vue
  src/composables/use-body-scroll-lock.ts
  src/composables/use-event-listener-outside.js
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-hide.js
  src/composables/use-focus-on-show.js
  src/composables/use-focus-on-show.ts
  src/composables/use-hide-on-click-outside.js
  src/utils/a11y/is-native-tabbable.ts
  src/utils/dom/get-document.ts
  src/utils/reakit-utils/README.md
  src/utils/reakit-utils/dom.ts
  src/utils/reakit-utils/focus.ts
  src/utils/reakit-utils/get-next-active-element-on-blur.ts
  test/unit/specs/components/v-popover.spec.js
  tsconfig.json
  typings/csstype/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

Update VSkipToContentContainer.vue
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Use the saved ar locale file for playwright messages
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Use playwright.sh instead of CI to move the locale files
  .github/actions/setup-node-env/action.yml
  bin/playwright.sh
Due: dprint check

Add snapshots
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
Due: none

Copy valid-locales from test folder in setup-node-env
  .github/actions/setup-node-env/action.yml
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
Due: dprint check

Copy all locale files from test folder in setup-node-env
  .github/actions/setup-node-env/action.yml
Due: dprint check

Try fixing the container not exiting
  bin/playwright.sh
Due: none

Revert "Using wrong snapshots to fail tests"
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-lg-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
Due: none

Import `ar.json` from the test folder
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove outdated comments
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Revert changes that are added in a different PR
  bin/playwright.sh
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check
