Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Try to speed up e2e tests
  test/playwright/e2e/all-results-keyboard.spec.ts
  test/playwright/e2e/search-navigation.spec.ts
  test/playwright/e2e/search-query-client.spec.ts
  test/playwright/e2e/search-query-server.spec.ts
  test/playwright/e2e/search-types.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Make all e2e tests run in parallel mode
  test/playwright/e2e/attribution.spec.ts
  test/playwright/e2e/homepage.spec.ts
  test/playwright/e2e/image-detail.spec.ts
  test/playwright/e2e/migration-banner.spec.ts
  test/playwright/e2e/mobile-menu.spec.ts
  test/playwright/e2e/search.spec.ts
  test/playwright/e2e/translation-banner.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Apply code review suggestions
  bin/playwright.sh
Due: none

Try failing a test
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
Due: none

Update test/playwright/utils/navigation.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VSkipToContentContainer.vue
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/pages/extension.vue
  src/pages/extension.vue
Due: eslint --fix --max-warnings=0, dprint check

Revert "Try failing a test"
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-2xl-linux.png
Due: none

imports ar.json from test directory
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

prevents user from pausing audio before it loads
  src/components/VAudioTrack/VPlayPause.vue
Due: eslint --fix --max-warnings=0, dprint check

fix heading order
  src/pages/extension.vue
  src/pages/sources.vue
Due: eslint --fix --max-warnings=0, dprint check

fix style
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Update navigation.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Make Renovate bot ignore forks
  .github/renovate.json
Due: dprint check

Audio Label Fixed
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove Openverse' Sentry DNS and disabled it if it is not set
  src/utils/sentry-config.ts
Due: eslint --fix --max-warnings=0, dprint check

Lint fix?
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Revert conversion to TS
  src/composables/use-focus-on-show.js
Due: eslint --fix --max-warnings=0, dprint check

Remove unused functions
  src/utils/reakit-utils/dom.ts
  src/utils/reakit-utils/focus.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove unused functions
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Different path
  prettier.config.js
Due: eslint --fix --max-warnings=0, dprint check

Revert "Remove unused functions"
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Revert "Different path"
  prettier.config.js
Due: eslint --fix --max-warnings=0, dprint check

Fix Tailwind class order
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Require an aria-label for VIconButton
  src/components/VIconButton/VIconButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Removed broken link
  README.md
Due: dprint check

Update README.md
  README.md
Due: dprint check

font sizes and weights
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

Sentry package update
  package.json
  pnpm-lock.yaml
Due: dprint check

Reduce spacing between audio result rows
  src/pages/search/audio.vue
Due: eslint --fix --max-warnings=0, dprint check

Add feature to handle timestamps in milliseconds
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/utils/time-fmt.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix spacing and horizontal alignment in related audios
  src/components/VAudioDetails/VRelatedAudio.vue
Due: eslint --fix --max-warnings=0, dprint check

Use `defineComponent` and TS in all components
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VFourOhFour.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VHeaderMenu.vue
  src/components/VHeader/VPageMenu/VDesktopPageMenu.vue
  src/components/VImageDetails/VImageDetails.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/components/VRadio/VRadio.vue
  src/components/VSearchResultsTitle.vue
  src/components/VSketchFabViewer.vue
  src/composables/use-load-more.ts
  src/layouts/default.vue
  src/models/media.ts
  src/pages/search.vue
  test/unit/specs/pages/browse-page.spec.js
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Fix typeWithoutMedia computation
  src/components/VHeader/VHeaderMenu.vue
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove injectionKey typings
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VHeaderMenu.vue
  src/layouts/default.vue
  src/pages/search.vue
  test/unit/specs/pages/browse-page.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Fix shouldFetchMedia computation
  src/components/VHeader/VHeaderMenu.vue
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check
