Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

fixed metadata style
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix --max-warnings=0, dprint check

error handling
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

Convert active-media store to a Pinia options store
  src/stores/active-media.ts
Due: eslint --fix --max-warnings=0, dprint check

Update tests
  test/unit/specs/stores/active-media-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update src/stores/active-media.ts
  src/stores/active-media.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove obsolete comment
  src/stores/active-media.ts
Due: eslint --fix --max-warnings=0, dprint check

checks if audio finished loading
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

prevent loading error
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Expose the `willBeHandled` function
  src/composables/use-seekable.ts
Due: eslint --fix --max-warnings=0, dprint check

sentry add context
  src/stores/media/index.ts
  test/unit/test-utils/pinia.js
Due: eslint --fix --max-warnings=0, dprint check

Add `minimum-change-threshold` to bundle size job
  .github/workflows/bundle_size.yml
Due: dprint check

Exclude language files from bundle size analysis
  .github/workflows/bundle_size.yml
Due: dprint check

handle media error with sentry
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

unit tests for handle media error function
  src/stores/media/index.ts
  test/unit/specs/stores/media-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Add aria-label to VLogoButton
  src/components/VHeader/VLogoButton.vue
  src/locales/en.json
Due: eslint --fix --max-warnings=0, dprint check

Update src/stores/media/index.ts
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VCopyButton.vue
  src/components/VCopyButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Update Dockerfile
  Dockerfile
Due: none

Update README.md
  README.md
Due: dprint check

Update src/locales/en.json
  src/locales/en.json
Due: dprint check

fixed warning for browserslist
  pnpm-lock.yaml
Due: dprint check

Removes table of content
  README.md
Due: dprint check

readyState info
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Apply suggestions from code review
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

refactors code
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Add animations to the snackbar
  src/components/VSnackbar.vue
  src/components/meta/VSnackbar.stories.mdx
Due: eslint --fix --max-warnings=0, dprint check

Fix component showing outside canvas in docs view
  src/components/meta/VSnackbar.stories.mdx
Due: dprint check

Show the instruction snackbar that hides after interaction
  src/components/VAudioTrack/VAudioTrack.vue
  src/locales/en.json
  src/pages/search/audio.vue
Due: eslint --fix --max-warnings=0, dprint check

Handling play errors
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Updated variant name from plain-dangerous to plain--avoid
  src/components/VAudioTrack/VPlayPause.vue
Due: eslint --fix --max-warnings=0, dprint check

removed event listener on line 41 of src/composables/use-hide-on-click-outside.js
  src/composables/use-hide-on-click-outside.js
Due: eslint --fix --max-warnings=0, dprint check
