Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Add loading indicator to global audio track
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT
  src/locales/po-files/openverse.pot
Due: none

Remove unnecessary null-coalecing
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Add Playwright utilities
  src/components/VTranslationStatusBanner.vue
  src/locales/po-files/openverse.pot
  test/playwright/e2e/filters.spec.ts
  test/playwright/e2e/homepage.spec.ts
  test/playwright/e2e/mobile-menu.spec.ts
  test/playwright/e2e/report-media.spec.ts
  test/playwright/e2e/search-navigation.spec.ts
  test/playwright/e2e/search-query-client.spec.ts
  test/playwright/e2e/search-query-server.spec.ts
  test/playwright/e2e/search-types.spec.ts
  test/playwright/e2e/search.spec.ts
  test/playwright/e2e/translation-banner.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update pot file
  src/locales/po-files/openverse.pot
Due: none

Revert unnecessary changes
  package-lock.json
Due: dprint check

Update locale files
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: dprint check

Rename the page
  src/pages/additional-sources.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove logging; use locale strings
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Extract `dir` language directions
  test/playwright/e2e/search.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/media-reuse.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/sources.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Move the in to
  src/locales/po-files/openverse.pot
  test/playwright/e2e/filters.spec.ts
  test/playwright/e2e/homepage.spec.ts
  test/playwright/e2e/report-media.spec.ts
  test/playwright/e2e/search-query-client.spec.ts
  test/playwright/e2e/search-query-server.spec.ts
  test/playwright/e2e/search-types.spec.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/header.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update test/playwright/utils/navigation.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Improve translation banner dismissal
  src/components/VTranslationStatusBanner.vue
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update the pot file
  src/locales/po-files/openverse.pot
Due: none

Try adding .pot file on every commit
  .husky/pre-commit
Due: none

Add snapshots in the correct dir
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-ltr-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-lg-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-md-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-sm-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xl-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts-snapshots/non-existent-rtl-xs-linux.png
Due: none

Update src/pages/image/_id.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix incorrect text styles
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix incorrect text styles in audio single result page
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Refactor image title wrapper
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix text line-height
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix translation files
  src/locales/po-files/openverse.pot
Due: none

Update snapshots and fix playwright pnpm versions
  Dockerfile.playwright
  bin/playwright.sh
  docker-compose.playwright.yml
  test/playwright/README.md
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-sm-linux.png
  test/playwright/visual-regression/components/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
Due: dprint check

Add correct testid to translation banner
  src/components/VTranslationStatusBanner.vue
Due: eslint --fix --max-warnings=0, dprint check

Update README.md
  README.md
Due: dprint check

Ignore everything but openverse.pot
  .gitignore
Due: none

Add basic README.md to explain the existence of the branch
  .gitignore
  README.md
Due: dprint check

Dismiss translation banner only if visible
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Correctly usu dirs in media-reuse tests
  test/playwright/visual-regression/components/media-reuse.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update conditions to not run certain jobs for PRs from forks
  .github/workflows/ci.yml
  .github/workflows/ghcr.yml
Due: dprint check

Add a pathWithDir helper; remove translation banner from the homepage
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/media-reuse.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/sources.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Add missing audio file extensions
  src/constants/filters.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update audio filters count in tests
  test/playwright/e2e/filters.spec.ts
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check
