Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Update src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Add POT file
  src/locales/po-files/openverse.pot
Due: none

Handle unknown creator in attribution
  src/models/media.ts
  src/utils/attribution-html.ts
  test/unit/specs/utils/attribution-html.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Use css variable to set header height
  src/layouts/default.vue
  typings/csstype/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

WIP - Add Vue Ariakit implementation
  src/ariakit/README.md
  src/ariakit/dialog/use-dialog-dismiss.ts
  src/ariakit/dialog/use-dialog-heading.ts
  src/ariakit/dialog/use-dialog-state.ts
  src/ariakit/disclosure/use-disclosure-content.ts
  src/ariakit/disclosure/use-disclosure-state.ts
  src/ariakit/disclosure/use-disclosure.ts
  src/ariakit/heading/use-heading-level.ts
  src/ariakit/heading/use-heading.ts
  src/ariakit/utils/dom.ts
  src/ariakit/utils/events.ts
  src/ariakit/utils/focus.ts
  src/ariakit/utils/get-next-active-element-on-blur.ts
  src/ariakit/utils/get-tab-index.ts
  src/ariakit/utils/is-native-tabbable.ts
  src/ariakit/utils/supports-disabled-attribute.ts
  src/ariakit/utils/types.ts
  src/components/Ariakit/Disclosure/VDisclosure.vue
  src/components/Ariakit/Disclosure/VDisclosureContent.vue
  src/components/VButton.vue
  src/composables/use-sync-refs.ts
  src/utils/console.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VSourcesTable.vue
  src/components/VSourcesTable.vue
Due: eslint --fix --max-warnings=0, dprint check

Update content report snapshots
  test/playwright/visual-regression/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  test/playwright/visual-regression/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
Due: none

Prevent renovatebot from pinning dependencies
  .github/renovate.json
Due: dprint check

Replace lodash.clonedeep with rfdc
  package.json
  pnpm-lock.yaml
  src/constants/filters.ts
  src/stores/search.ts
  src/types/utils.ts
  src/utils/clone.ts
  src/utils/search-query-transform.ts
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Remove ts comment and organize imports
  src/stores/search.ts
  src/utils/search-query-transform.ts
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Use camelCasing
  src/stores/search.ts
  src/utils/clone.ts
  src/utils/search-query-transform.ts
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Pin dependencies
  package.json
Due: dprint check

Separate `NODE_ENV` from `DEPLOYMENT_ENV`
  src/constants/deploy-env.ts
  src/utils/node-env.ts
Due: eslint --fix --max-warnings=0, dprint check

Define cascading logic
  src/stores/feature-flag.ts
  src/types/feature-flag.ts
  test/unit/specs/stores/feature-flag-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Move the tab label to tablist
  src/components/VTabs/VTabs.vue
  src/locales/po-files/openverse.pot
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

Make "Back to Search Results" link bigger on mobile
  src/components/VBackToSearchResultsLink.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Update Sources table and snapshots
  src/components/VSourcesTable.vue
  src/pages/sources.vue
  tailwind.config.js
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Update storybook snapshots
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/off-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-linux.png
Due: none

Update
  src/components/VCheckbox/meta/VCheckbox.stories.js
Due: eslint --fix --max-warnings=0, dprint check

Add clean script
  package.json
Due: dprint check

Try splitting bundle size reporting
  .github/workflows/bundle_size.yml
Due: dprint check

Stop showing 'Load more' button in the related images
  src/components/VImageDetails/VRelatedImages.vue
  src/components/VImageGrid/VImageGrid.vue
Due: eslint --fix --max-warnings=0, dprint check

Stop showing 'Load more' button in the related images
  src/locales/po-files/openverse.pot
Due: none

Make back to search results link's padding symmetrical
  src/components/VBackToSearchResultsLink.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

init
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix story name to match component
  src/components/VContentSwitcher/meta/VSearchTypePopover.stories.mdx
Due: dprint check

Change `VContentLink` stories to composition API
  src/components/VContentLink/meta/VContentLink.stories.js
Due: eslint --fix --max-warnings=0, dprint check

Ignore stories from Nuxt build
  .nuxtignore
Due: none

Run size check when ignored list changes
  .github/workflows/bundle_size.yml
Due: dprint check

Fix the extension page
  .github/workflows/bundle_size.yml
  nuxt.config.ts
  src/components/ExtensionBrowsers.vue
  src/pages/extension.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Remove sass from jest.config.js
  jest.config.js
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VCheckbox/meta/VCheckbox.stories.js
  src/components/VCheckbox/meta/VCheckbox.stories.js
Due: eslint --fix --max-warnings=0, dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
