Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Move links to separate lines
  .github/actions/staging-frontend-deploy/action.yml
Due: dprint check

Update POT file
  openverse.pot
Due: none

Deploy production frontend on release
  .github/actions/production-frontend-deploy/action.yml
  .github/workflows/ghcr.yml
  .github/workflows/push_production.yaml
  .github/workflows/push_staging.yaml
Due: dprint check

Deploy staging only after image is successfully pushed to GHCR
  .github/workflows/ghcr.yml
  .github/workflows/staging_frontend_deploy.yml
Due: dprint check

Add manual rollback action
  .github/workflows/rollback_production.yml
Due: dprint check

Fix versions getting
  .github/workflows/ghcr.yml
  .github/workflows/rollback_production.yml
Due: dprint check

Remove testing code
  .github/workflows/rollback_production.yml
Due: dprint check

Debugging
  .github/workflows/ghcr.yml
Due: dprint check

Add concurrency checks, rename files more accurately, remove debugging code
  .github/workflows/ci.yml
  .github/workflows/ghcr.yml
  .github/workflows/rollback.yml
  Dockerfile
Due: dprint check

Fix malformed json
  Dockerfile
Due: none

Remove testing main tag
  .github/workflows/ghcr.yml
Due: dprint check

Try to make image buildable by M1
  Dockerfile
Due: none

Turn dowm test container after running tests
  bin/playwright.sh
Due: none

Make the condition for number of workers stricter
  test/playwright/playwright.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Silence `warn` function in provider.spec.js
  test/unit/specs/stores/provider.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Parallelize snapshot tests
  test/playwright/visual-regression/components/audio-results.spec.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/media-reuse.spec.ts
  test/playwright/visual-regression/pages/homepage.spec.ts
  test/playwright/visual-regression/pages/pages.spec.ts
  test/playwright/visual-regression/pages/sources.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

🔄 Created local '.github/workflows/actionlint.yml' from remote '.github/workflows/actionlint.yml'
  .github/workflows/actionlint.yml
Due: dprint check

🔄 Created local '.github/actionlint-matcher.json' from remote '.github/actionlint-matcher.json'
  .github/actionlint-matcher.json
Due: dprint check

🔄 Synced local '.github/workflows/pr_ping.yml' with remote '.github/workflows/pr_ping.yml'
  .github/workflows/pr_ping.yml
Due: dprint check

Fix rollback tag check
  .github/workflows/rollback.yml
Due: dprint check

Use 2 workers for playwright tests in GitHub CI
  .github/workflows/ci.yml
Due: dprint check

Set the max number of CPUs available for the playwright service container
  docker-compose.playwright.yml
Due: dprint check

Parallelize e2e filters tests
  test/playwright/e2e/filters.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Parallelize e2e report-media tests
  test/playwright/e2e/report-media.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Disable Sentry in tests
  docker-compose.playwright.yml
  package.json
  src/utils/env.ts
  src/utils/sentry-config.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix flaky audio tests
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/constants/audio.ts
  test/playwright/e2e/all-results-keyboard.spec.ts
  test/playwright/utils/audio.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove accidental useless line
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix deploy action path
  .github/workflows/rollback.yml
Due: dprint check

Use the correct PAT for the bot account
  .github/workflows/rollback.yml
Due: dprint check

Guard the workflow
  .github/workflows/rollback.yml
Due: dprint check

Generate allowlist from API
  .github/workflows/rollback.yml
Due: dprint check

Fix lint failure
  .github/workflows/rollback.yml
Due: dprint check

Await the request
  .github/workflows/rollback.yml
Due: dprint check

Remove all testing code
  .github/workflows/rollback.yml
Due: dprint check

Debug
  .github/workflows/rollback.yml
Due: dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
