Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Fix extension page bg color
  src/pages/extension.vue
Due: eslint --fix --max-warnings=0, dprint check

Tweak extension page styles
  src/pages/extension.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix pnpm + docker
  .github/workflows/ghcr.yml
  .pnpm-version
  Dockerfile
  Dockerfile.playwright
  README.md
  bin/playwright.sh
  docker-compose.yml
Due: dprint check

Fix mobile menu modals not opening for the second time
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VHeader/VHeaderFilter.vue
  test/playwright/e2e/mobile-menu.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix e2e tests
  test/playwright/e2e/mobile-menu.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix environment variable setting
  .github/workflows/ghcr.yml
Due: dprint check

Add debug step to check pnpm version
  Dockerfile
Due: none

Try passing secrets file
  .github/workflows/ghcr.yml
  Dockerfile
Due: dprint check

Handle attribution when title is blank
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/utils/attribution-html.ts
  test/unit/specs/utils/attribution-html.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Set the default hideOnClickOutside for modal to false
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VModal/VModalContent.vue
  src/composables/use-dialog-content.js
  test/playwright/e2e/mobile-menu.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Make e2e header button test work for mobile and desktop
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Update visual regression testing snapshots
  src/components/VHeader/VHeader.vue
  src/components/VNotificationBanner.vue
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-ltr-xs-linux.png
  test/playwright/visual-regression/header.spec.ts-snapshots/scrolled-rtl-xs-expected.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-html-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-plain-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-ltr-rich-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-html-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-plain-tab-xs-linux.png
  test/playwright/visual-regression/media-reuse.spec.ts-snapshots/media-reuse-rtl-rich-tab-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Replace `lodash.sortby` and fix sources table ordering by url
  src/components/VSourcesTable.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove `lodash.sortby` as dependency
  package.json
  pnpm-lock.yaml
Due: dprint check

Try another way of passing values between steps
  .github/workflows/ghcr.yml
Due: dprint check

Remove focus on SearchBar after submit
  src/components/VHeader/VHeader.vue
Due: eslint --fix --max-warnings=0, dprint check

Break long searched words if necessary
  src/components/VErrorSection/VNoResults.vue
  src/components/VSearchResultsTitle.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix bad build-args management
  README.md
  docker-compose.playwright.yml
Due: dprint check

Update VCheckbox component and its story
  src/components/VCheckbox/VCheckbox.vue
  src/components/VCheckbox/meta/VCheckbox.stories.js
  src/components/VCheckbox/meta/VCheckbox.stories.mdx
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Update VCheckbox storybook test
  test/storybook/visual-regression/v-checkbox.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Use a simple boolean type for checked and disabled properties
  src/components/VCheckbox/VCheckbox.vue
Due: eslint --fix --max-warnings=0, dprint check

Use VIcon for the checkmark
  src/assets/icons/checkmark.svg
  src/components/VCheckbox/VCheckbox.vue
Due: eslint --fix --max-warnings=0, dprint check

Fix vr tests
  src/assets/icons/checkmark.svg
  src/components/VCheckbox/meta/VCheckbox.stories.mdx
  test/storybook/visual-regression/v-checkbox.spec.ts
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/default-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/off-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Revert VLink padding change
  src/components/VBackToSearchResultsLink.vue
Due: eslint --fix --max-warnings=0, dprint check

Add default checkbox snapshot
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/default-linux.png
Due: none

Update src/components/VCheckbox/VCheckbox.vue
  src/components/VCheckbox/VCheckbox.vue
Due: eslint --fix --max-warnings=0, dprint check

Invert implementation to remove double negatives
  src/utils/license.ts
Due: eslint --fix --max-warnings=0, dprint check

Rectify incorrect documentation
  src/utils/license.ts
Due: eslint --fix --max-warnings=0, dprint check

Centralise more functionality in the license util
  src/components/VFilters/VLicenseExplanation.vue
  src/utils/license.ts
Due: eslint --fix --max-warnings=0, dprint check

Add a note about the backend mirroring
  src/utils/license.ts
Due: eslint --fix --max-warnings=0, dprint check

Converge i18n and non-i18n implementations
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/utils/attribution-html.ts
Due: eslint --fix --max-warnings=0, dprint check

Focus the filter sidebar when tabbing from FiltersButton
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeaderFilter.vue
Due: eslint --fix --max-warnings=0, dprint check

Move focus from Filters button to the filters sidebar on 'Tab' press
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/constants/filters.ts
  src/utils/focus-management.ts
Due: eslint --fix --max-warnings=0, dprint check

Update unit tests
  test/unit/specs/components/v-filter-checklist.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

Remove translation banner from RTL snapshots
  test/playwright/visual-regression/pages.spec.ts
  test/playwright/visual-regression/pages.spec.ts-snapshots/about-rtl-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/about-rtl-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/about-rtl-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/about-rtl-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/about-rtl-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/about-rtl-xs-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-rtl-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-rtl-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-rtl-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-rtl-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-rtl-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-rtl-xs-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/meta-search-rtl-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/meta-search-rtl-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/meta-search-rtl-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/meta-search-rtl-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/meta-search-rtl-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/meta-search-rtl-xs-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/search-help-rtl-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/search-help-rtl-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
Due: eslint --fix --max-warnings=0, dprint check

Update extension page snapshots
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-ltr-2xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-ltr-lg-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-ltr-md-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-ltr-sm-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-ltr-xl-linux.png
  test/playwright/visual-regression/pages.spec.ts-snapshots/extension-ltr-xs-linux.png
Due: none

Remove `lodash.isempty` dependency
  package.json
  pnpm-lock.yaml
  src/components/VSourcesTable.vue
Due: eslint --fix --max-warnings=0, dprint check

Add tests for VSourcesTable
  test/unit/specs/components/v-sources-table.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Add stubs in VModal test to prevent warnings
  test/unit/specs/components/v-modal.spec.js
Due: eslint --fix --max-warnings=0, dprint check
