Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

Hide snackbar on phones and tablets
  src/components/VSnackbar.vue
Due: eslint --fix --max-warnings=0, dprint check

Update tests because snackbar is placed above results in the DOM
  test/playwright/e2e/report-media.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  openverse.pot
Due: none

added removeEventListener to onInvalidate callback
  src/composables/use-hide-on-click-outside.js
Due: eslint --fix --max-warnings=0, dprint check

Fix typo in concurrency cancellation check
  .github/workflows/ghcr.yml
Due: dprint check

Update snapshots to include the snackbar
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
Due: none

Updated varaint at all file locations
  src/components/VButton.vue
  src/components/VTabs/VTab.vue
Due: eslint --fix --max-warnings=0, dprint check

Added design issue template
  .github/ISSUE_TEMPLATE/design_changes.md
Due: dprint check

added improvement label, fixed typo
  .github/ISSUE_TEMPLATE/design_changes.md
Due: dprint check

Use specific base image `node:16-alpine`
  Dockerfile
Due: none

Specify click position to ensure that navigation works
  test/playwright/e2e/report-media.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix time formatting units
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix --max-warnings=0, dprint check

Add info about env variables to deployment doc
  DEPLOYMENT.md
Due: dprint check

Add CURL for healthcheck
  Dockerfile
Due: none

Move max height detection to use-popper and fix types
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-popover-content.js
  src/composables/use-popper.js
  src/composables/use-popper.ts
Due: eslint --fix --max-warnings=0, dprint check

Add popper overflow detection
  src/composables/use-popover-content.js
  src/composables/use-popper.js
Due: eslint --fix --max-warnings=0, dprint check

TS-ify VPopoverContent
  src/components/VPopover/VPopoverContent.vue
Due: eslint --fix --max-warnings=0, dprint check

Only detect maxHeight, remove vertical overflow detection
  src/composables/use-popper.ts
Due: eslint --fix --max-warnings=0, dprint check

Watch the window size to update the popover height
  src/composables/use-popper.ts
  src/composables/use-window-size.ts
Due: eslint --fix --max-warnings=0, dprint check

Make Popover content clippable to the window height
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VHeader/VPageMenu/VDesktopPageMenu.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-popover-content.js
  src/composables/use-popper.ts
  typings/csstype/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

Clip the popover to the available height
  src/components/VSkipToContentContainer.vue
  src/composables/use-popper.ts
Due: eslint --fix --max-warnings=0, dprint check

Ugggh
  src/components/VSkipToContentContainer.vue
Due: eslint --fix --max-warnings=0, dprint check

Add a gap between the popover and the window
  src/composables/use-popper.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix z-index
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
Due: eslint --fix --max-warnings=0, dprint check

use ref to rerender component
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Update snapshots to reflect the fixed durations
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/components/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: none

temporary fix to audio handling issues
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/stores/media/index.ts
  src/stores/media/index.ts
Due: eslint --fix --max-warnings=0, dprint check

Update test/unit/test-utils/pinia.js
  test/unit/test-utils/pinia.js
Due: eslint --fix --max-warnings=0, dprint check

Switch to "get this [media] for single result CTAs
  src/locales/en.json
Due: dprint check

Add a todo comment about z-index values
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.vue
Due: eslint --fix --max-warnings=0, dprint check

Pass missing `audioId` argument to `VWaveform` story
  src/components/VAudioTrack/meta/VWaveform.stories.mdx
Due: dprint check

Silence warnings from mocked `$sentry` object
  src/utils/sentry-config.ts
Due: eslint --fix --max-warnings=0, dprint check

Add healthcheck which considers desired avaliable memory percentage
  .env.template
  package.json
  pnpm-lock.yaml
  src/server-middleware/healthcheck.js
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

always log, even in non-prod environments
  src/server-middleware/healthcheck.js
Due: eslint --fix --max-warnings=0, dprint check

Set default to 15
  src/server-middleware/healthcheck.js
Due: eslint --fix --max-warnings=0, dprint check

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,js,vue}
  dprint check: any of: *.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}
