Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Use pure bundle names in CI
  .github/workflows/bundle_size.yml
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Try publishing Storybook/Tailwind config previews per PR
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/pr_closed.yml
Due: dprint check

Replace comments and add patience notes
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
Due: dprint check

Do not deploy main to subdirectory
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yaml
Due: dprint check

Stop playing audio when global player is closed
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Revert tape changes
  test/tapes/response-238.json5
  test/tapes/thumb_audio_1cf59761-bd8a-48cc-827c-f7e05f9ecb54_keep-alive.json5
  test/tapes/thumb_audio_3d5577b9-8848-493c-a029-034882441c3f_keep-alive.json5
  test/tapes/thumb_audio_3ff1ff96-5f76-47a5-986d-a3823e58ca28_keep-alive.json5
  test/tapes/thumb_audio_4b0bd099-6eab-4ab6-8ac6-cdc4516c8af8_keep-alive.json5
  test/tapes/thumb_audio_6235cd85-6d23-48b4-985f-acf53453c425_keep-alive.json5
  test/tapes/thumb_audio_6a7678a8-0c07-4972-b0af-1eb87f994dca_keep-alive.json5
  test/tapes/thumb_audio_903931d6-6b70-4171-82e8-ba01cf6e5a7d_keep-alive.json5
  test/tapes/thumb_audio_90ceeaf6-1889-49e3-9136-49113c73ce66_keep-alive.json5
  test/tapes/thumb_audio_a2dfd89d-3258-486e-9b33-8e1690f367d5_keep-alive.json5
  test/tapes/thumb_audio_f448c722-4d9c-47ef-aed5-3c5b6c50528b_keep-alive.json5
  test/tapes/thumb_images_cbb8b054-a90d-4e5e-a292-870143956567_keep-alive.json5
  test/tapes/thumb_images_f76053f8-b0eb-4e4a-8344-ff6406633ec0_keep-alive.json5
  test/tapes/thumb_images_fede3a2f-a78b-4441-bc46-ed965bf5f7a5_keep-alive.json5
Due: none

Fix aria-controls property for VFilterButton
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VFilterButton.vue
  src/locales/po-files/openverse.pot
  test/playwright/e2e/filters.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Make VSearchGridFilter with accessible name
  src/components/VFilters/VSearchGridFilter.vue
Due: eslint --fix --max-warnings=0, dprint check

Add POT file
  src/locales/po-files/openverse.pot
Due: none

Create constants for environment variables
  src/constants/node-env.ts
  src/utils/node-env.ts
Due: eslint --fix --max-warnings=0, dprint check

Allow flags to be set per-environment
  src/stores/feature-flag.ts
  src/types/feature-flag.ts
  test/unit/specs/stores/feature-flag-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Use relative paths in modules imported in Nuxt config
  src/utils/node-env.ts
Due: eslint --fix --max-warnings=0, dprint check

Update UI to separate locked and switchable flags
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/preferences.vue
Due: eslint --fix --max-warnings=0, dprint check

Add some a11y properties to VSearchGridFilter (#1338)
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/VFilterButton.vue
  src/locales/po-files/openverse.pot
  test/playwright/e2e/filters.spec.ts
  test/playwright/utils/navigation.ts
Due: eslint --fix --max-warnings=0, dprint check

Convert VButton story to mdx and add all variants
  src/components/meta/VButton.stories.js
  src/components/meta/VButton.stories.mdx
Due: eslint --fix --max-warnings=0, dprint check

Convert VButton story to mdx and add all variants
  src/components/VButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove lodash.set
  package.json
  pnpm-lock.yaml
  src/locales/scripts/jed1x-json-to-json.js
  src/locales/scripts/ngx-json-to-json.js
  src/locales/scripts/utils.js
Due: eslint --fix --max-warnings=0, dprint check

Allow running action from ref
  .github/workflows/push_production.yaml
Due: dprint check

Apply suggestions from code review
  src/components/meta/VButton.stories.mdx
Due: dprint check

Revert change from flex to inline-flex
  src/components/VButton.vue
Due: eslint --fix --max-warnings=0, dprint check

Revert change from flex to inline-flex
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: eslint --fix --max-warnings=0, dprint check

Apply changes from the code review
  src/locales/po-files/openverse.pot
  src/pages/search-help.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/locales/scripts/utils.js
  src/locales/scripts/utils.js
Due: eslint --fix --max-warnings=0, dprint check

Stop playing audio when global player is closed (#1335)
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  tsconfig.json
Due: eslint --fix --max-warnings=0, dprint check

Replace lodash.throttle with throttle-debounce
  package.json
  pnpm-lock.yaml
  src/composables/use-scroll.js
  src/composables/use-window-scroll.js
Due: eslint --fix --max-warnings=0, dprint check

Update src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: eslint --fix --max-warnings=0, dprint check

Await fetching related media in the single result store
  src/stores/media/single-result.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix back to search link for pages in other languages
  src/components/VBackToSearchResultsLink.vue
  src/locales/po-files/openverse.pot
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  tsconfig.json
  typings/openverse/index.d.ts
Due: eslint --fix --max-warnings=0, dprint check

Replace inline svg component with VIcon
  src/components/VBackToSearchResultsLink.vue
Due: eslint --fix --max-warnings=0, dprint check

Add back to search link e2e test for localized pages
  test/playwright/e2e/search-navigation.spec.ts
  test/playwright/e2e/search.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Fix fetching related media both on the server and on the client
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  src/stores/media/single-result.ts
  test/unit/specs/stores/single-result-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Add back to search link e2e test for localized pages (#1351)
  test/playwright/e2e/search-navigation.spec.ts
  test/playwright/e2e/search.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Update src/pages/audio/_id.vue
  src/pages/audio/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Simplify typing hacks
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove unnecessary showBackToSearch data property
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
Due: eslint --fix --max-warnings=0, dprint check

Update peaceiris/actions-gh-pages digest to cf3948a
  .github/workflows/gh-pages.yaml
Due: dprint check

Add a check for NaN in timeFmt function
  src/components/VAudioTrack/VWaveform.vue
Due: eslint --fix --max-warnings=0, dprint check

Make the audio title in global player a link
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
Due: eslint --fix --max-warnings=0, dprint check
