Repository WordPress/openverse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, dprint check

.lintstagedrc:

{
  "*.{ts,js,vue}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{ts,js,vue,md,yaml,yml,mjs,cjs,json,mdx,svg}": [
    "dprint check"
  ]
}

Try fixing the tabs by passing selected index as a slot prop
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VLicenseTabPanel.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/models/tabs.ts
Due: eslint --fix --max-warnings=0, dprint check

Remove ternary from ghcr.yml
  .github/workflows/ghcr.yml
Due: dprint check

Fix audio button rounding and global audio not closing
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VGlobalLayout.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/components/VButton.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
Due: eslint --fix --max-warnings=0, dprint check

Update POT file
  src/locales/po-files/openverse.pot
Due: none

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: dprint check

Add image run instrcutions to PR comments
  .github/workflows/ghcr.yml
Due: dprint check

Fix outputs reference
  .github/workflows/ghcr.yml
Due: dprint check

Use local provider data on the first load
  src/components/VSourcesTable.vue
  src/data/sources.json
  src/middleware/middleware.ts
  src/pages/sources.vue
  src/stores/provider.ts
  src/stores/search.ts
  test/unit/specs/stores/provider.spec.js
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Add script to update provider data
  package.json
  scripts/providers.mjs
Due: dprint check

Target slot container to copy just the text. Targeting a container will copy all the text inside , including the text for the button, to prevent this we should target just the text container.
  src/components/VMediaInfo/VLicenseTabPanel.vue
Due: eslint --fix --max-warnings=0, dprint check

Use the same ids to link tabs to panels
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VMediaInfo/VLicenseTabPanel.vue
  src/components/VTabs/VTab.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/models/tabs.ts
Due: eslint --fix --max-warnings=0, dprint check

Use the same ids to link tabs to panels
  test/unit/specs/components/v-tabs.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Remove unnecessary changes
  src/components/VMediaInfo/VCopyLicense.vue
  src/components/VTabs/VTabPanel.vue
  src/components/VTabs/VTabs.vue
  src/models/tabs.ts
Due: eslint --fix --max-warnings=0, dprint check

Exit with non-zero status in non-development environments
  package.json
  scripts/providers.mjs
Due: dprint check

Updates the provider stats through the search store instead of the provider store
  src/middleware/middleware.ts
  src/stores/provider.ts
  src/stores/search.ts
Due: eslint --fix --max-warnings=0, dprint check

Call fetchMediaProviders in the middleware, update search filters on search.vue page
  src/middleware/middleware.ts
  src/pages/search.vue
  src/pages/sources.vue
  test/unit/specs/stores/provider.spec.js
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix --max-warnings=0, dprint check

Extract a layout-connections map for PlayPause button
  src/components/VAudioTrack/VPlayPause.vue
Due: eslint --fix --max-warnings=0, dprint check

Update src/locales/en.json
  src/locales/en.json
Due: dprint check

Add note about only being for SSR
  nuxt.config.ts
Due: eslint --fix --max-warnings=0, dprint check

Update dependency axios to ^0.27.0
  package.json
  pnpm-lock.yaml
Due: dprint check

Fix TS version resolution
  pnpm-lock.yaml
Due: dprint check

Add renovate cron workflow
  .github/workflows/renovate.yml
Due: dprint check

Scroll to top after submit a new search
  src/components/VHeader/VHeader.vue
Due: eslint --fix --max-warnings=0, dprint check

Give unique keys to h3 titles and tables in sources page
  src/pages/sources.vue
Due: eslint --fix --max-warnings=0, dprint check

Update dependency @pinia/testing to ^0.0.12
  package.json
Due: dprint check

Just use pr numbers and try gh action summary
  .github/workflows/ghcr.yml
Due: dprint check

Fix string concat
  .github/workflows/ghcr.yml
Due: dprint check

Change scroll behavior to `auto`
  src/components/VHeader/VHeader.vue
Due: eslint --fix --max-warnings=0, dprint check

Add e2e test for scrolling
  src/components/VHeader/VSearchBar/VSearchBar.vue
  test/playwright/e2e/search.spec.ts
Due: eslint --fix --max-warnings=0, dprint check

Init filters in the correct order
  src/pages/search.vue
  src/stores/provider.ts
Due: eslint --fix --max-warnings=0, dprint check

Add an e2e test for provider filters from URL
  test/playwright/e2e/filters.spec.ts
  test/tapes/related_audio_632d0076-fdbd-4919-8b8f-b498ef246ee8_keep-alive.json5
  test/tapes/search_audio_q=birds&source=freesound_close.json5
  test/tapes/search_images_q=birds&source=flickr_close.json5
Due: eslint --fix --max-warnings=0, dprint check

Split tag name generation into script step
  .github/workflows/ghcr.yml
Due: dprint check

Disable filters for additional sources
  src/components/VButton.vue
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VHeader/VFilterButton.vue
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VHeaderMenu.vue
  src/composables/use-search-type.ts
  src/constants/media.ts
  src/locales/po-files/openverse.pot
  src/pages/index.vue
Due: eslint --fix --max-warnings=0, dprint check

Remove filters from additional sources model
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/utils/get-additional-sources.ts
Due: eslint --fix --max-warnings=0, dprint check

Simplify opening filter sidebar in onMounted hook
  src/components/VHeader/VHeaderFilter.vue
  src/composables/use-filter-sidebar-visibility.ts
Due: eslint --fix --max-warnings=0, dprint check

Try fix markdown
  .github/workflows/ghcr.yml
Due: dprint check
